To start the project we import all the necesary libraries. If its needed as well you can install them.

In [ ]:

#!python3 -m pip install kaggle
#!python3 -m pip install openpyxl

import pandas as pd
import zipfile
import kaggle

Using command kaggle we download the dataset from kaggle website (further api doc can be found on kaggle website).

In [ ]:

!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

The downloaded files come in a .zip format so we extract them with zipfile into our repo.

In [3]:
zipfile_name = 'london-bike-sharing-dataset.zip'

with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

Finally we can read the data using pandas read_csv.

In [3]:
bikes = pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

Next step is to rename the columns into cleaner names using rename with a dictionary.

In [5]:
new_col_names = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

bikes.rename(new_col_names,axis=1,inplace=True)

bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

To make data more understandable we change numeric values into descriptive ones. Changed seasons and weather.

In [6]:
bikes.humidity_percent = bikes.humidity_percent / 100


season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}


weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}


bikes.season = bikes.season.astype('str')

bikes.season = bikes.season.map(season_dict)


bikes.weather = bikes.weather.astype('str')

bikes.weather = bikes.weather.map(weather_dict)

bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

Finally we extract the data into a .xlsx ready to be used by Tableau.

In [7]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')